<%= form_for(@sensore) do |f| %>
  <% if @sensore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sensore.errors.count, "error") %> prohibited this sensore from being saved:</h2>

      <ul>
      <% @sensore.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :modelos %><br>
    <%= f.text_field :modelos %>
  </div>
  <div class="field">
    <%= f.label :marcas %><br>
    <%= f.text_field :marcas %>
  </div>
  <div class="field">
    <%= f.label :quantidade %><br>
    <%= f.number_field :quantidade %>
  </div>
  <div class="field">
    <%= f.label :localizacao %><br>
    <%= f.text_field :localizacao %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
