<%= form_for @cliente, :html => { :class => "form-horizontal cliente" } do |f| %>

  <% if @cliente.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@cliente.errors.count, "error") %> prohibited this cliente from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @cliente.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="page-header">
    <h1><small>Informações</small></h1>
  </div>
  <div class="form-group">
    <%= f.label :nome, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :nome, :class => 'form-control' %>
    </div>
    <%=f.error_span(:nome) %>
  </div>
    <div class="form-group">
    <%= f.label :cnpj, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :cnpj, :class => 'form-control' %>
    </div>
    <%=f.error_span(:cnpj) %>
  </div>
  <div class="form-group">
    <%= f.label :conta, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :conta, :class => 'form-control' %>
    </div>
    <%=f.error_span(:conta) %>
  </div>
  <div class="form-group">
    <%= f.label :sindico, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :sindico, :class => 'form-control' %>
    </div>
    <%=f.error_span(:sindico) %>
  </div>
  <div class="form-group">
    <%= f.label :telefone, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :telefone, :class => 'form-control' %>
    </div>
    <%=f.error_span(:telefone) %>
  </div>
  <div class="form-group">
    <%= f.label :cidade_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select :cidade_id, @cidades, :id, :nome, {include_blank: true}, :class => 'form-control' %>
    </div>
    <%=f.error_span(:cidade_id) %>
  </div> 
  <div class="form-group">
    <%= f.label :contrato_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select :contrato_id, @contratos, :id, :tipo, {include_blank: true}, :class => 'form-control' %>
    </div>
    <%=f.error_span(:contrato_id) %>
  </div> 
   <div class="form-group">
    <%= f.label :data, :class => 'control-label col-lg-2' %>   
    <div class="col-lg-10">
      <%= f.fields_for :contrato do |contratos_fields| %>
      <%= contratos_fields.date_field :data, :class => 'form-control'  %> 
    </div>
    <%=f.error_span(:contrato_id) %>
  </div> 
    <div class="form-group">     
    <% end %>
  </div> 
   <div class="form-group">
    <%= f.label :administradora_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select :administradora_id, @administradoras, :id, :nome, {include_blank: true}, :class => 'form-control' %>
    </div>
    <%=f.error_span(:administradora_id) %>
  </div>
  <div class="page-header">
    <h1><small>Equipamentos</small></h1>
  </div> 

  <div class="form-group">
  <div class="control-label col-lg-2"></div>   
    <div class="col-lg-10">
     <%= f.label :dvr_id %>
      <%= f.collection_select :dvr_id, @dvrs, :id, :modelo, {include_blank: 'Selecione'}, :class => 'form-control' %>
    </div>
    <%=f.error_span(:dvr_id) %>
  </div> 
   <div class="form-group">
    <div class="control-label col-lg-2"></div>    
    <div class="col-lg-10">
      <%= f.collection_select :dvr_id, @dvrs, :id, :canais, {include_blank: 'Canais'}, :class => 'form-control' %>
    </div>
    <%=f.error_span(:dvr_id) %>
  </div> 
   <div class="form-group">
    <div class="control-label col-lg-2"></div>    
    <div class="col-lg-10">
      <%= f.collection_select :dvr_id, @dvrs, :id, :entradas, {include_blank: 'Entradas'}, :class => 'form-control' %>
    </div>
    <%=f.error_span(:dvr_id) %>
  </div> 
   <div class="form-group">
    <div class="control-label col-lg-2"></div>    
    <div class="col-lg-10">
      <%= f.collection_select :dvr_id, @dvrs, :id, :saidas, {include_blank: 'Saídas'}, :class => 'form-control' %>
    </div>
    <%=f.error_span(:dvr_id) %>
  </div> 
  <div class="form-group">
  <div class="control-label col-lg-2"></div>    
    <div class="col-lg-10">
    <%= f.label :internet_id %>
      <%= f.collection_select :internet_id, @internets, :id, :nome, {include_blank: 'Selecione'}, :class => 'form-control' %>
    </div>
    <%=f.error_span(:internet_id) %>
  </div> 
  <div class="form-group">
    <div class="control-label col-lg-2"></div>    
    <div class="col-lg-10">
      <%= f.collection_select :internet_id, @internets, :id, :banda, {include_blank: 'Banda'}, :class => 'form-control' %>
    </div>
    <%=f.error_span(:internet_id) %>
  </div> 
  <div class="form-group">
    <div class="control-label col-lg-2"></div>    
    <div class="col-lg-10">
      <%= f.collection_select :internet_id, @internets, :id, :contrato, {include_blank: 'Contrato'}, :class => 'form-control' %>
    </div>
    <%=f.error_span(:internet_id) %>
  </div> 

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                clientes_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>