<%= form_for(@cliente) do |f| %>
  <% if @cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
      <% @cliente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :conta %><br>
    <%= f.number_field :conta %>
  </div>
  <div class="field">
    <%= f.label :cidade_id %><br>
    <%= f.collection_select( :cidade_id, Cidade.all, :id, :nome, include_blank: true) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
