<%= form_for(@administradora) do |f| %>
  <% if @administradora.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@administradora.errors.count, "error") %> prohibited this administradora from being saved:</h2>

      <ul>
      <% @administradora.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :telefone %><br>
    <%= f.number_field :telefone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
