<p id="notice"><%= notice %></p>

<h1>Listing Sindicos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Telefone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sindicos.each do |sindico| %>
      <tr>
        <td><%= sindico.nome %></td>
        <td><%= sindico.telefone %></td>
        <td><%= link_to 'Show', sindico %></td>
        <td><%= link_to 'Edit', edit_sindico_path(sindico) %></td>
        <td><%= link_to 'Destroy', sindico, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sindico', new_sindico_path %>
