<%= form_for(@teclado) do |f| %>
  <% if @teclado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teclado.errors.count, "error") %> prohibited this teclado from being saved:</h2>

      <ul>
      <% @teclado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tipo %><br>
    <%= f.text_field :tipo %>
  </div>
  <div class="field">
    <%= f.label :quantidade %><br>
    <%= f.number_field :quantidade %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
