<p id="notice"><%= notice %></p>

<p>
  <strong>Modelos:</strong>
  <%= @camera.modelos %>
</p>

<p>
  <strong>Marcas:</strong>
  <%= @camera.marcas %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @camera.quantidade %>
</p>

<p>
  <strong>Localizacao:</strong>
  <%= @camera.localizacao %>
</p>

<%= link_to 'Edit', edit_camera_path(@camera) %> |
<%= link_to 'Back', cameras_path %>
