<p id="notice"><%= notice %></p>

<h1>Listing Central De Alarmes</h1>

<table>
  <thead>
    <tr>
      <th>Modelo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @central_de_alarmes.each do |central_de_alarme| %>
      <tr>
        <td><%= central_de_alarme.modelo %></td>
        <td><%= link_to 'Show', central_de_alarme %></td>
        <td><%= link_to 'Edit', edit_central_de_alarme_path(central_de_alarme) %></td>
        <td><%= link_to 'Destroy', central_de_alarme, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Central de alarme', new_central_de_alarme_path %>
