<%= form_for(@controlp) do |f| %>
  <% if @controlp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@controlp.errors.count, "error") %> prohibited this controlp from being saved:</h2>

      <ul>
      <% @controlp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :horario_arme_desarme %><br>
    <%= f.time_select :horario_arme_desarme %>
  </div>
  <div class="field">
    <%= f.label :horario_interfone %><br>
    <%= f.time_select :horario_interfone %>
  </div>
  <div class="field">
    <%= f.label :tempo_arme_automatico %><br>
    <%= f.time_select :tempo_arme_automatico %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
