<p id="notice"><%= notice %></p>

<h1>Listing Controlps</h1>

<table>
  <thead>
    <tr>
      <th>Horario arme desarme</th>
      <th>Horario interfone</th>
      <th>Tempo arme automatico</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @controlps.each do |controlp| %>
      <tr>
        <td><%= controlp.horario_arme_desarme %></td>
        <td><%= controlp.horario_interfone %></td>
        <td><%= controlp.tempo_arme_automatico %></td>
        <td><%= link_to 'Show', controlp %></td>
        <td><%= link_to 'Edit', edit_controlp_path(controlp) %></td>
        <td><%= link_to 'Destroy', controlp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Controlp', new_controlp_path %>
