<p id="notice"><%= notice %></p>

<p>
  <strong>Horario arme desarme:</strong>
  <%= @controlp.horario_arme_desarme %>
</p>

<p>
  <strong>Horario interfone:</strong>
  <%= @controlp.horario_interfone %>
</p>

<p>
  <strong>Tempo arme automatico:</strong>
  <%= @controlp.tempo_arme_automatico %>
</p>

<%= link_to 'Edit', edit_controlp_path(@controlp) %> |
<%= link_to 'Back', controlps_path %>
