<p id="notice"><%= notice %></p>

<p>
  <strong>Horarioarmedesarme:</strong>
  <%= @controlp.horarioArmeDesarme %>
</p>

<p>
  <strong>Horariointerfone:</strong>
  <%= @controlp.horarioInterfone %>
</p>

<p>
  <strong>Tempoarmeautomatico:</strong>
  <%= @controlp.tempoArmeAutomatico %>
</p>

<%= link_to 'Edit', edit_controlp_path(@controlp) %> |
<%= link_to 'Back', controlps_path %>
