<%- model_class = Dvr -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:modelo) %></th>
      <th><%= model_class.human_attribute_name(:canais) %></th>
      <th><%= model_class.human_attribute_name(:cameras) %></th>
      <th><%= model_class.human_attribute_name(:entradas) %></th>
      <th><%= model_class.human_attribute_name(:saidas) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @dvrs.each do |dvr| %>
      <tr>
        <td><%= link_to dvr.id, dvr_path(dvr) %></td>
        <td><%= dvr.modelo %></td>
        <td><%= dvr.canais %></td>
        <td><%= dvr.cameras %></td>
        <td><%= dvr.entradas %></td>
        <td><%= dvr.saidas %></td>
        <td><%=l dvr.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_dvr_path(dvr), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      dvr_path(dvr),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_dvr_path,
            :class => 'btn btn-primary' %>
