<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @contrato.tipo %>
</p>

<p>
  <strong>Data:</strong>
  <%= @contrato.data %>
</p>

<%= link_to 'Edit', edit_contrato_path(@contrato) %> |
<%= link_to 'Back', contratos_path %>
