<%= form_for @funcionario, :html => { :class => "form-horizontal funcionario" } do |f| %>

  <% if @funcionario.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@funcionario.errors.count, "error") %> prohibited this funcionario from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @funcionario.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nome, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :nome, :class => 'form-control' %>
    </div>
    <%=f.error_span(:nome) %>
  </div>
  <div class="form-group">
    <%= f.label :turno_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :turno_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:turno_id) %>
  </div>
  <div class="form-group">
    <%= f.label :email, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :email, :class => 'form-control' %>
    </div>
    <%=f.error_span(:email) %>
  </div>
  <div class="form-group">
    <%= f.label :telefone, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :telefone, :class => 'form-control' %>
    </div>
    <%=f.error_span(:telefone) %>
  </div>
  <div class="form-group">
    <%= f.label :admissao, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :admissao, :class => 'form-control' %>
    </div>
    <%=f.error_span(:admissao) %>
  </div>
  <div class="form-group">
    <%= f.label :experiencia, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :experiencia, :class => 'form-control' %>
    </div>
    <%=f.error_span(:experiencia) %>
  </div>
  <div class="form-group">
    <%= f.label :situacao, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :situacao, :class => 'form-control' %>
    </div>
    <%=f.error_span(:situacao) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                funcionarios_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
